<h2>Dashboard</h2>
<hr>
<div class="row marketing">
  <div class="text-center col-lg-12">
    <h3>Total Balance</h3>
    <h3><%= Money.new(@total_balance) %></h3>
    <div class="col-sm-6">
      <h3><%= @current_month %> Expenses</h3>
      <h3><%= Money.new(@expense_amount) %></h3>
    </div>
    <div class="col-sm-6">
      <h3><%= @current_month %> Earnings</h3>
      <h3><%= Money.new(@savings_amount) %></h3>
    </div>
  </div>
</div>
