<div class="row marketing">
  <div class="col-lg-6">
    <a href="<%= account_path(@conn, :index) %>">Accounts</a>
  </div>
  <div class="col-lg-6">
    <a href="<%= transaction_path(@conn, :index) %>">Transactions</a>
  </div>
</div>
